<link rel="stylesheet" type="text/css" href="styles.css">

<div class="nav-bar"></div>

<div id="app">
    <div class="product">
        <div class="product-image">
            <img v-bind:src="image">
        </div>
        <div class="product-info">
            <h1>{{ product }}</h1>
            <h3>{{ description }}</h3>
            <a v-bind:href="url" target="_blank">Enlace a Git</a>
            
<!--             <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost out of stock</p>
            <p v-else>Out of Stock</p>
 -->
            <p v-if="inStock">En Stock</p>
            <p v-else>Sin Stock</p>

            <p>Caracteristicas:</p>
            <ul>
                <li v-for="detail in details">{{detail}}</li>
            </ul>

            <p>Variantes de color:</p>
            <div v-for="color in colors" :key ="color.colorID">
                <p>{{color.colorName}}</p>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="main.js"></script>